<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welome to our fairy tale world</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <a href="a" class="logo">HEY THERE,</a>
        <ul class="navlist">
            <li><a href="#home" class="active">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Products">Products</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </header>
    <section class="parallax-home">

        <img src="../static/Images/HOME-Images/sky.png" alt="" id="" >
        <img src="../static/Images/HOME-Images/moon.png" alt="" id="moon" >
        <img src="../static/Images/HOME-Images/water.png" alt="" id="" >
        <img src="../static/Images/HOME-Images/center-city.png" alt="" id="" >
        <img src="../static/Images/HOME-Images/right-city.png" alt="" id="" >
        <img src="../static/Images/HOME-Images/left-city.png" alt="" id="" >
        <img src="../static/Images/HOME-Images/train.png" alt="" id="train" >
        <img src="../static/Images/HOME-Images/rail.png" alt="" id="" >
        <h1 id="text">Welcome to our world !</h1>
        <img src="../static/Images/HOME-Images/hill-left-1.png" alt="" id="" >
        <img src="../static/Images/HOME-Images/hill-right-1.png" alt="" id="" >
        <a href="/home">
            <a href="/input"><button class="btn2" href = "/input">GET START.</button></a>
        </a>

    </section>


    <section class="About" id="about">
        <div class="info-box">

                <h2>About us</h2>
                <p>GRAM masters</p>
                     <a href="a" class="btn">Read more!</a>
        </div>
        <img src="../static/Images/About-Images/waterfall.png" alt="" id="waterfall" class="about-waterfall">
        <img src="../static/Images/About-Images/desert-sky.png" alt="" id="desert-sky">
        <img src="../static/Images/About-Images/desert-moon.png" alt="" id="desert-moon" >
        <img src="../static/Images/About-Images/desert-NoSky.png" alt="" id="desert-NoSky" >
        <img src="../static/Images/About-Images/desert-rock.png" alt="" id="desert-rock" >
        <img src="../static/Images/About-Images/water.png" alt="" id="water" >
        <img src="../static/Images/About-Images/man.png" alt="" id="man" >
        <img src="../static/Images/About-Images/grass.png" alt="" id="grass" >

            <div id="progress">
                <span id="progress-value">
                <i class='bx bx-chevrons-up'></i>
            </span>
            </div>



    </section>

    <!-- ---------------------------------------------------------------------- -->

    <section class="Products" id="Products">
            <h2>Our products</h2>
            <div class="product-card">
                <div class="card">
                    <img src="" alt="">
                    <div class="info">
                        <div class="price-name">
                            <h3>cartoon</h3>
                            <span>Free</span>
                        </div>
                        <p>predefined story 1</p>
                             <a href="#" class="btn">Read</a>
                    </div>
                </div>
 <!-- ----------------------------------------------------------------- -->
 <div class="card">
    <img src="" alt="">
    <div class="info">
        <div class="price-name">
            <h3>Anime</h3>
            <span>Free</span>
        </div>
        <p>predefined story 2</p>
             <a href="#" class="btn">Read</a>
                  </div>
          </div>
<!-- --------------------------------------------------------- -->
<div class="card">
    <img src="" alt="">
    <div class="info">
        <div class="price-name">
            <h3>ART</h3>
            <span>Free</span>
        </div>
        <p>predefined story 3</p>
             <a href="#" class="btn">Read</a>
    </div>
</div>
<!-- --------------------------------------------------------- -->
<div class="card">
    <img src="" alt="">
    <div class="info">
        <div class="price-name">
            <h3>Tuna</h3>
            <span>Free</span>
        </div>
        <p>predefined story 3</p>
             <a href="#" class="btn">Read</a>
    </div>
</div>

            </div>
    </section>


<script src="../static/script.js"></script>
</body>
</html>