<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "width=device-width", initial-scale=1.0>
        <title>This is the home page</title>
        <link rel = "stylesheet" href="../static/css/style.css">
        
    </head>

    <body>
       
            <div class="typing-text">
                Welcome to our world!
            </div>
        <div class="head">
            <video autoplay loop plays-inline muted  class="back-video">
                <source src="../static/galaxy.mp4" type="video/mp4">
            </source>
            </video>             
        </div>
        
        
       <center>
        <a href="/home">
        <button class="btn1" href = "">LET'S START -></button></a>
       </center>
    </body>
</html>