<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Simple Form</title>
    <link rel="stylesheet" href='../static/css/login.css'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/ boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <video autoplay muted loop id="background-video">
        <source src="../static/css/backround.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      
      <div class="login-container">
        <h1 class="h1">Join Us!</h1>
        <form method="post">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            <p class="signup-link">Don't have an account?<a href="/signup">Sign up</a></p>
        </form>
    </div>

        </form>

    
           
    </div>
</body>
</html>